# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

.idea/
.vscode/
*.pyc
node_modules/
migrations/

pskuapp/__pycache__/
pskuapp/migrations/
pskuproject/__pycache__/
pskuproject/templates/node_modules/
